@page "/"

<div class="main-container">


    <!-- Capa -->

    <div class="cover-photo">

        <div class="profile-photo"></div>

    </div>

    <!-- Borda sobreposta a capa com informações -->

    <div class="info-card">

        <h2 class="restaurant-name"> Yukki Sushi </h2>

    </div>

</div>
