.nav-menu {
    height: 8vh;
    display: flex;
    align-items: center;
    background-color: yellow;
    padding: 0 0.5rem 0 0.5rem;
    gap: 0.5rem;
}

/* Ícones gerais */
.icon_menu,
.icon_compras,
.icon_perfil {
    height: 70%;
    aspect-ratio: 1/1;
    object-fit: cover;
}

/* Perfil redondo */
.icon_perfil {
    border-radius: 50%;
}

.icon_menu{

    margin-right:auto

}
