<nav @attributes="AdditionalAttributes" class="nav-menu">
    
    <div class="menu">

        <img src="images/menu_aberto.png" class="icon_menu" />

    </div>

    <div class="vazio"></div>

    <div class="compras">

        <img src="images/bolsa_compras.png" class="icon_compras" />

    </div>

    <div class="perfil">
    
    </div>

</nav>

@code {
    [Parameter(CaptureUnmatchedValues = true)]
    public Dictionary<string, object> AdditionalAttributes { get; set; }
}


