.nav-menu {

    height: 10vh;
    display: flex;
    background-color: yellow;
}

.menu, .compras, .perfil {
    justify-content:center;
    display: flex;
    flex-direction: column;
    background-color: red;
    max-height: 100%;
    max-width: 20%;
}

.icon_compras, .icon_menu{

    height:70%;

    min-height: 0rem;

    min-width: 0rem;

}

.vazio {

    width: 40%;

    height: 100%;

}
