<nav @attributes="AdditionalAttributes" class="nav-menu">
    
    <img src="images/menu_aberto.png" class="icon_menu" />

    <img src="images/bolsa_compras.png" class="icon_compras" />

    <img src="images/download1.jpeg" class="icon_perfil"/>

</nav>

@code {
    [Parameter(CaptureUnmatchedValues = true)]
    public Dictionary<string, object>? AdditionalAttributes { get; set; }
}


